body{
    background-color: #191919;

    

}

.x{
    margin-top: 35px;
    color: white;
}

label {
    margin-bottom: 5px;
}

.l{
    color: red;
}

.p{
    margin-top: 5px;
}

.lol{
    color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}

