body { 
    background-color: #191919;
}


.formdta {
    border-color: red;
    border: 1px solid red;
    padding: 20px;
    margin-top: 25px;
} 

form {
    padding: 20px;
    margin: 5px;
}

.topELE{
    margin-top: 15px;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

button {
    width: 100%;
    margin-top: 5px 12px;
}

label{
    color: red;
    margin-bottom: 8px;
}

.sub{
    margin-top: 10px;
}

.google {
    margin-top: 10px;
}

.errMsg {
    color: white;
    margin-top: 10px;
}

.log {
    color: red;
    font-weight: 500;
    margin-top: 19px;
    margin-left: 25px;
    text-decoration: none;
}