style
    include ./../../assets/css/mainPfst.css


#carouselExampleControls.carousel.slide(data-bs-ride='carousel')
  .carousel-inner
    .carousel-item.active
      .container.fstdta
        .row.item
            .col-md-5 
                img.img-fluid.mainImg(src="./../../../public/src/svg/1st.png", alt="")
    
            .col-md-6.dta.prtc
                h2 Participate In Our 
                    span.d Quiz  
                    | Competition And Win Money And Lot Of Prizes..
                    br
                
                    button.btn.btn-outline-light.d.justify-content-start.margx(type="submit") More Details

    .carousel-item
      .container.fstdta
        .row.item
            .col-md-5 
                img.img-fluid.mainImg(src="./../../../public/src/svg/2nd.svg", alt="")
    
            .col-md-6.dta.prtc
                h2 Order 
                    span.frd Second Hand Books  
                    |or 
                    span.frd PDf   
                    | Download Of Every Books
                    br
                
                    button.btn.btn-outline-light.frd.justify-content-start.margx(type="submit") More Details
    .carousel-item
      .container.fstdta
        .row.item
            .col-md-5 
                img.img-fluid.mainImg(src="./../../../public/src/svg/3rd.svg", alt="")
    
            .col-md-6.dta.prtc
                h2 You Can  
                    span.d Sell   
                    | Your Books And Also 
                    span.d Request 
                    |For A book
                    br
                
                    button.btn.btn-outline-light.d.justify-content-start.margx(type="submit") More Details
  button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.visually-hidden Previous
  button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.visually-hidden Next




