style 
    include ./../../assets/css/navbar.css


.container-fluid.customDesignNAV
    
        .mac
            .col.heading
                h2.book Book 
                    span.shop Shop 
            
            .col 
                a(href="")
                    i

            .col
                form.d-flex.searchBOOK
                    input.form-control.me-2(type="text" placeholder="Search Books" aria-label="Search")
                    button.btn.btn-outline-light(type="submit") Search


