style 
    include ./../../assets/css/secondaryNavBar.css

.container-fluid.secnav
    li.nav-item.dropdown.limain
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.username(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.fas.fa-user 
            |   User
        ul.dropdown-menu.drpbg(aria-labelledby='navbarDropdownMenuLink')
            li
                a.dropdown-item(href='#') Sign in
            li
                a.dropdown-item(href='#') Another action
            li
                a.dropdown-item(href='#') Something else here
    


